h1{
    color: rgb(253, 4, 4);
    text-align: center;
    font-family: Arial;
    font-size: 500%;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial;
    font-size: 300%;
}

p{
    text-align: center;
}

img{
    width: 100%;
    height: 50%;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

body{
    background-color: rgb(255, 255, 255);
}